.badge{
  padding : 5px;
  padding-right: 7px;
  padding-left : 7px;
  margin-left: 3px;
}

.skill-btn1{
    background-color: white;
  }
   
  .badge-blue1{
    background-color: rgb(187,239,241);
    color : rgb(22, 106, 108);
    text-align: center;  
  }

  .badge-green1{
      background-color:  rgb(26,177,30);
      color : white;
  }

  .skill-btn1:hover .badge-green1 span {
    display:none;
  }
  .skill-btn1:hover .badge-green1:before {
    content:"+";
  }