.skill-btn{
    background-color: white;
  }
   
  .badge-blue{
    background-color: rgb(187,239,241);
    text-align: center;    
    color : rgb(22, 106, 108);
  }

  .skill-btn:hover .badge-blue{
    background-color:rgb(236, 12, 40);
    color : white;
    text-align: center;    
  }

  .skill-btn:hover .badge span {
    display:none
  }
  .skill-btn:hover .badge:before {
    content:"-";
  }