<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0"
         metadata-complete="false">
  <display-name>Archetype Created Web Application</display-name>
  <listener>
    <listener-class> Servlets.MyServletContextListener </listener-class>
  </listener>


  <servlet>
    <servlet-name>Bid</servlet-name>
    <servlet-class>Servlets.Bid</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>Bid</servlet-name>
    <url-pattern>/Bid</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>delSkill</servlet-name>
    <servlet-class>Servlets.delSkill</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>delSkill</servlet-name>
    <url-pattern>/delSkill</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>endorse</servlet-name>
    <servlet-class>Servlets.endorse</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>endorse</servlet-name>
    <url-pattern>/endorse</url-pattern>
  </servlet-mapping>


  <servlet>
    <servlet-name>addSkill</servlet-name>
    <servlet-class>Servlets.addSkill</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>addSkill</servlet-name>
    <url-pattern>/addSkill</url-pattern>
  </servlet-mapping>


  <error-page>
    <error-code>404</error-code>
    <location>/error404.jsp</location>
  </error-page>

  <error-page>
    <error-code>403</error-code>
    <location>/error403.jsp</location>
  </error-page>

</web-app>

